#text {
  font-size: 32;
  font-family: System-Regular;
  font-weight: regular;
  text-length: 32;
  fill: "red";
}

#background {
  width: 100%;
  height: 100%;
  fill: #ee119a;
}

.list-item {
  height: 80;
}
